<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <form action="/file-upload" class="dropzone">
 			<div class="fallback">
  				 <input name="file" type="file" multiple />
			</div>
	 	</form>
      </h1>
    </section>
  </aside>
</div>