<!-- Load Feather code -->

<!-- Instantiate Feather -->


<div id='injection_site'></div>


<%= image_tag(@upload.url,class:"img-rounded",id:"image1") %>

<!-- Add an edit button, passing the HTML id of the image and the public URL of the image -->
<p><input type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' onclick="return launchEditor('image1', 'http://images.aviary.com/imagesv5/feather_default.jpg');" /></p>


